global-exclude *

graft python
graft bazel
graft src

include pyproject.toml
include setup.py
include bazelisk.py
include WORKSPACE
include .bazelversion
include .bazelrc
include requirements_lock.txt
include BUILD.bazel

prune docs/
prune examples/
prune .github/

global-exclude *.log
global-exclude *.tmp
global-exclude __pycache__/*
