@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.pdoc {
  --text: #202124;
  /* Text color */
  --link: #394aab;
  /* Link color */
  --active: #ebfaf8;
  /* Highlight color */
  --accent: #f8f9fa;
  /* Navbar & function definition color */
  --accent2: #f8f9fa;
  /* Code block border and navbar border color */
  --nav-hover: #e6ebf1;
  /* Navigation hover color */
}

nav.pdoc {
  border-right-color: #efefef;
  box-shadow: none;
}

body {
  font-family: 'Roboto', sans-serif;
}
